@font-face {
  font-family: gentona;
  src: url(/public/Rene\ Bieder\ -\ Gentona\ ExtraBold\ Italic\ DEMO.otf);
}

@font-face {
  font-family: nunito;
  src: url(/public/Nunito-Regular.ttf);
}

:root {
  --light: rgb(6, 192, 199);
  --med: rgb(7, 104, 160);
  --dark: rgb(31, 42, 75);
}

body {
  margin: 0;
  font-family: nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  transition: all ease 0.7s;
  border-radius: 2em;
  padding: 5px 14px;
  text-decoration: none;
}

.link {
  color: black;
  background-color: white;
  font-weight: bold;
}

.button {
  background-image: linear-gradient(to right, var(--light) 0%, var(--med) 100%);
  color: white;
  font-weight: bold;
}

svg {
  width: 24px;
}
.svg{
position: relative;
top: 8px;
padding-right: 10px;
width: 20px;
}
.paginatebtns {
  list-style: none;
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
  
}

.paginatebtns li {
  border: 1px solid var(--light);
  cursor: pointer;
  border-radius: 1em;
  font-weight: bold;
}

.activePaginateBtn {
  background-image: linear-gradient(to right, var(--light) 0%, var(--med) 100%);
  color: white;
}

.disabled{
  background-color: #d1d1d1;
}

h3 a{
  color: var(--light);
}

@media (max-width:460px) {
  a{
    padding: 3px 9px;
  }
  svg {
    position: relative;
    width: 14px;
    bottom: 6px;
  }
  img{
    width: 70px;
  }
  .svg{
    top: 4px;
    padding-right: 10px;
    width: 15px;
    }
    .paginatebtns {
     font-size: 12px;
     padding-left: 0px;
     
    }
    .paginatebtns a{
      padding: 1px 5px;
    }
}